<aside class="sidebar" itemscope itemtype="http://schema.org/Restaurant">
  <h1 class="brand">
    <picture class="brand__logo">
      <img src="images/logo.svg" alt="besana tapas" itemprop="logo" />
    </picture>
    <span class="brand__type" itemprop="name">{{ type }}</span>
  </h1>
  <div class="sidebar__content">
    <p itemprop="description">Ubicado en pleno centro de Utrera, en la antigua judería, les invita a descubrir la fusión de la más alta cocina con el tapeo más tradicional.</p>
    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">Puedes encontrarnos en el <span itemprop="streetAddress">Callejón del Niño Perdío 1</span>, en <span itemprop="addressLocality">Utrera</span> (<span itemprop="addressRegion">Sevilla</span>).</p>
    <p><a href="https://goo.gl/maps/cfZXP" lang="es" title="Besana Tapas en Google Maps" itemprop="map" target="_blank">¿Como llegar?</a></p>
    <p>También puedes llamarnos al teléfono <br /><a href="tel:+34955863804" itemprop="telephone">955 863 804</a></p>
    <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
      <span itemprop="latitude" content="37.1810330" />
      <span itemprop="longitude" content="-5.7807800" />
    </div>
  </div>
</aside>
