---
titleSufix: | Guía de Estilos
---
<div class="container">
  <aside>
    <header>
      <h1>besana tapas <small>Guía de Estilos</small></h1>
    </header>
    <nav>
      <ul class="no-bullets">
        <li><a href="">Logo</a></li>
        <li><a href="">Colores</a></li>
        <li><a href="">Tipografía</a></li>
        <li><a href="">Botones</a></li>
        <li><a href="">Formularios</a></li>
    </nav>
  </aside>
  <div class="content">
    <section id="logo">
      <h2>Logo</h2>
      <section>
        <h3>Logotype</h3>
        <img src="images/logo.svg" />
        <img src="images/type.svg" />
      </section>
    </section>
    <section id="colours">
      <h2>Colores</h2>
      <ul class="colors inline no-bullets">
        <h3>Main Colors</h3>
        <li class="color primary">
          <p>Primary Color</p>
          <code><small>HEX</small> #58646F</code> <br />
          <code><small>RGB</small> (80, 100, 111)</code>
        </li>
        <li class="color secondary">
          <p>Secondary Color</p>
          <code><small>HEX</small> #A8ACB8</code> <br />
          <code><small>RGB</small> (168,172,184)</code>
        </li>
        <li class="color text">
          <p>Text Color</p>
          <code><small>HEX</small> #58646F</code> <br />
          <code><small>RGB</small> (80, 100, 111)</code>
        </li>
      </ul>
      <ul class="colors inline no-bullets">
        <h3>Action Colors</h3>
        <li class="color alert">
          <p>Alert Color</p>
          <code><small>HEX</small> #F20125</code> <br />
          <code><small>RGB</small> (242,1,37)</code>
        </li>
        <li class="color success">
          <p>Success Color</p>
          <code><small>HEX</small> #3DDC83</code> <br />
          <code><small>RGB</small> (61,220,131)</code>
        </li>
        <li class="color warning">
          <p>Warning Color</p>
          <code><small>HEX</small> #F2DA48</code> <br />
          <code><small>RGB</small> (242,218,72)</code>
        </li>
        <li class="color info">
          <p>Info Color</p>
          <code><small>HEX</small> #C4E8EE</code> <br />
          <code><small>RGB</small> (196,232,238)</code>
        </li>
      </ul>
      </ul>
    </section>
    <section id="typo">
      <h2>Typography</h2>
      <section id="typo-fonts">
        <h3>Fonts</h3>
        <section class="font-family sans-serif">
          <h4>sans-serif font-family</h4>
          <p>"HelveticaNeue", "Helvetica", "Arial", sans-serif</p>
          <p><strong><small class="label">bold</small> "HelveticaNeue", "Helvetica", "Arial", sans-serif</strong></p>
          <p><em><small class="label">italic</small> "HelveticaNeue", "Helvetica", "Arial", sans-serif</em></p>
        </section>
        <section class="font-family serif">
          <h4>serif font-family</h4>
          <p class="font-serif">Georgia, Times, "Times New Roman", serif</p>
          <p class="font-serif"><strong><small class="label">bold</small> Georgia, Times, "Times New Roman", serif</strong></p>
          <p class="font-serif"><em><small class="label">italic</small> Georgia, Times, "Times New Roman", serif</em></p>
        </section>
        <section class="font-family mono">
          <h4>monospace font-family</h4>
          <p class="font-mono">Menlo, Monaco, Consolas, "Courier New", monospace</p>
          <p class="font-mono"><strong><small class="label">bold</small> Menlo, Monaco, Consolas, "Courier New", monospace</strong></p>
          <p class="font-mono"><em><small class="label">italic</small> Menlo, Monaco, Consolas, "Courier New", monospace</em></p>
        </section>
        <section class="font-family custom">
          <h4>custom font-family</h4>
          <p class="font-custom">Comfortaa;</p>
          <p class="font-custom"><strong><small class="label">bold</small> Comfortaa;</strong></p>
          <p class="font-custom"><em><small class="label">italic</small> Comfortaa;</em></p>
        </section>
      </section>
      <section id="typo-headings">
        <h3>Headings</h3>
        <div>
          <h1>Heading Level 1</h1>
          <h2>Heading Level 2</h2>
          <h3>Heading Level 3</h3>
          <h4>Heading Level 4</h4>
          <h5>Heading Level 5</h5>
          <h6>Heading Level 6</h6>
        </div>
      </section>
      <section id="typo-paragraph">
        <h3>Paragraph</h3>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
      </section>
      <section id="typo-inline">
        <h3>Inline elements</h3>
        <div>
          <p><a href="#">This is a text link</a></p>
          <p><strong>Strong is used to indicate strong importance</strong></p>
          <p><em>This text has added emphasis</em></p>
          <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>
          <p>The <i>i element</i> is text that is set off from the normal text</p>
          <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>
          <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>
          <p><s>This text has a strikethrough</s></p>
          <p>Superscript<sup>®</sup></p>
          <p>Subscript for things like H<sub>2</sub>O</p>
          <p><small>This small text is small for for fine print, etc.</small></p>
          <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
          <p>Keybord input: <kbd>Cmd</kbd></p>
          <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
          <p><cite>This is a citation</cite>  </p>
          <p>The <dfn>dfn element</dfn> indicates a definition.</p>
          <p>The <mark>mark element</mark> indicates a highlight</p>
          <p><code>This is what inline code looks like.</code></p>
          <p><samp>This is sample output from a computer program</samp></p>
          <p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>
        </div>
      </section>
      <section id="typo-paragraph-inline">
        <h3>Paragraph with inline elements</h3>
        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
      </section>
      <section id="typo-blockquote">
        <h3>Blockquote</h3>
        <blockquote>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</blockquote>
        <section>
          <h4>Blockquote with paragraph</h4>
          <blockquote>
            <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
          </blockquote>
        </section>
        <section>
          <h4>Blockquote With Citation</h4>
          <blockquote cite="http://www.cite-source-url.com">
            <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
            <cite>Quote Source</cite>
          </blockquote>
        </section>
      </section>
      <section id="typo-lists">
        <h3>Lists</h3>
        <section>
          <h4>Unordered List</h4>
          <ul>
            <li>This is a list item in an unordered list</li>
            <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
            <li> Lists can be nested inside of each other
              <ul>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an unordered list</li>
              </ul>
            </li>
            <li>This is the last list item</li>
          </ul>
        </section>
        <section>
          <h4>Ordered List</h4>
          <ol>
            <li>This is a list item in an unordered list</li>
            <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
            <li> Lists can be nested inside of each other
              <ol>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an unordered list</li>
              </ol>
            </li>
            <li>This is the last list item</li>
          </ol>
        </section>
        <section>
          <h4>List <small>.no-bullets</small></h4>
          <ul class="no-bullets">
            <li>This is a list item in an unordered list</li>
            <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
            <li> Lists can be nested inside of each other
              <ul>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an unordered list</li>
              </ul>
            </li>
            <li>This is the last list item</li>
          </ul>
        </section>
      </section>
      <section>
        <h3>Preformatted Text</h3>
        <pre>
          P R E F O R M A T T E D T E X T
          ! " # $ % &amp; ' ( ) * + , - . /
          0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
          @ A B C D E F G H I J K L M N O
          P Q R S T U V W X Y Z [ \ ] ^ _
          ` a b c d e f g h i j k l m n o
          p q r s t u v w x y z { | } ~
        </pre>
      </section>
      <section>
        <h3>hr</h3>
        <hr />
      </section>
      <section id="typo-definition">
        <h3>Definition</h3>
        <dl>
          <dt>Definition List</dt>
          <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
          <dt>This is a term.</dt>
          <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
          <dt>Here is another term.</dt>
          <dd>And it gets a definition too, which is this line.</dd>
          <dt>Here is term that shares a definition with the term below.</dt>
          <dd>And it gets a definition too, which is this line.</dd>
        </dl>
      </section>
      <section id="typo-table">
        <h3>Table</h3>
        <table>
          <thead>
            <tr>
              <th>Table Heading 1</th>
              <th>Table Heading 2</th>
              <th>Table Heading 3</th>
              <th>Table Heading 4</th>
              <th>Table Heading 5</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Table Footer 1</th>
              <th>Table Footer 2</th>
              <th>Table Footer 3</th>
              <th>Table Footer 4</th>
              <th>Table Footer 5</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>Table Cell 1</td>
              <td>Table Cell 2</td>
              <td>Table Cell 3</td>
              <td>Table Cell 4</td>
              <td>Table Cell 5</td>
            </tr>
            <tr>
              <td>Table Cell 1</td>
              <td>Table Cell 2</td>
              <td>Table Cell 3</td>
              <td>Table Cell 4</td>
              <td>Table Cell 5</td>
            </tr>
            <tr>
              <td>Table Cell 1</td>
              <td>Table Cell 2</td>
              <td>Table Cell 3</td>
              <td>Table Cell 4</td>
              <td>Table Cell 5</td>
            </tr>
            <tr>
              <td>Table Cell 1</td>
              <td>Table Cell 2</td>
              <td>Table Cell 3</td>
              <td>Table Cell 4</td>
              <td>Table Cell 5</td>
            </tr>
          </tbody>
        </table>
      </section>
    </section>
    <section id="buttons">
      <h2>Buttons</h2>
        <button type="" class="btn">&lt;button&gt; tag</button>
        <br />
        <a href="" class="btn">Anchor as a button</a>
      </section>
      <section>
        <h3>Button states</h3>
      </section>
      <section>
        <h3>Button modifiers</h3>
      </section>
    </section>
    <section id="forms">
      <h2>Forms</h2>
      <form action="">
        <section>
          <h3>&lt;input&gt; fileds</h3>
          <fieldset>
            <legend>Text fields</legend>
            <div class="field-container">
              <label for="text">Text Input</label>
              <input id="text" type="text" placeholder="Text Input">
            </div>
            <div class="field-container">
              <label for="password">Password</label>
              <input id="password" type="password" placeholder="Type your Password">
            </div>
            <div class="field-container">
              <label for="webaddress">Web Address</label>
              <input id="webaddress" type="url" placeholder="http://yoursite.com">
            </div>
            <div class="field-container">
              <label for="emailaddress">Email Address</label>
              <input id="emailaddress" type="email" placeholder="name@email.com">
            </div>
            <div class="field-container">
              <label for="search">Search</label>
              <input id="search" type="search" placeholder="Enter Search Term">
            </div>
            <div class="field-container">
              <label for="pattern">Input with pattern</label>
              <input id="pattern" type="text" placeholder="Enter a Number" pattern="[0-9]*">
            </div>
          </fieldset>
          <fieldset>
            <legend>Boolean fields</legend>
            <div class="field-container">
              <h4>Checkbox</h4>
              <div>
                <label for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Choice A</label>
              </div>
              <div>
                <label for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox"> Choice B</label>
              </div>
              <div>
                <label for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Choice C</label>
              </div>
            </div>
            <div class="field-container">
              <h4>Radio</h4>
              <div>
                <label for="radio1"><input id="radio1" name="radio" type="radio" class="radio" checked="checked"> Option 1</label>
              </div>
              <div>
                <label for="radio2"><input id="radio2" name="radio" type="radio" class="radio"> Option 2</label>
              </div>
              <div>
                <label for="radio3"><input id="radio3" name="radio" type="radio" class="radio"> Option 3</label>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>new HTML5 fields</legend>
            <div class="field-container">
              <label for="color-field">Color input</label>
              <input type="color" id="color-field" value="#000000">
            </div>
            <div class="field-container">
              <label for="number-field">Number input</label>
              <input type="number" id="number-field" min="0" max="10" value="5">
            </div>
            <div class="field-container">
              <label for="range-field">Range input</label>
              <input type="range" id="range-field" value="10">
            </div>
            <div class="field-container">
              <label for="date-field">Date input</label>
              <input type="date" id="date-field" value="1970-01-01">
            </div>
            <div class="field-container">
              <label for="date-month-field">Month input</label>
              <input type="month" id="date-month-field" value="1970-01">
            </div>
            <div class="field-container">
              <label for="date-week-field">Week input</label>
              <input type="week" id="date-week-field" value="1970-W01">
            </div>
            <div class="field-container">
              <label for="datetime-field">Datetime input</label>
              <input type="datetime" id="datetime-field" value="1970-01-01T00:00:00Z">
            </div>
            <div class="field-container">
              <label for="datetime-local-field">Datetime-local input</label>
              <input type="datetime-local" id="datetime-local-field" value="1970-01-01T00:00">
            </div>
          </fieldset>
        </section>
        <section>
          <h3>Other form tags</h3>
          <fieldset>
            <div class="field-container">
              <label for="select">Select</label>
              <select id="select">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
                <optgroup label="Option Group">
                  <option>Group Option One</option>
                  <option>Group Option Two</option>
                  <option>Group Option Three</option>
                </optgroup>
                <option>Option Four</option>
                <option>Option Five</option>
                <option>Option Six</option>
              </select>
            </div>
            <div class="field-container">
              <label for="textarea">Textarea</label> <br />
              <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
            </div>
          </fieldset>
        </section>
        <section>
          <h3>Error messages</h3>
        </section>
      </form>
    </section>
    <section>
      <h2>Any other HTML element</h2>
    </section>
    <section>
      <h2>Layout/Grids</h2>
    </section>
  </div>
</div>
