// bourbon variables
$em-base: 16px;
@import "bourbon";

// import `Comfortaa` type font from google fonts
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

// font-awesome variables
//$fa-font-path: "../font";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts" !default; // for referencing Bootstrap CDN font files directly
@import "font-awesome";

//
html { box-sizing: border-box; }
*, *::after, *::before { box-sizing: inherit; }

// our global variables
$global-radius: 3px;
$global-rounded: 999px;

$gutter: 1rem;
$gutter-xs: modular-scale(-2, $gutter);
$gutter-sm: modular-scale(-1, $gutter);
$gutter-lg: modular-scale(1, $gutter);
$gutter-xl: modular-scale(2, $gutter);
