@import "normalize";

/*! start | besana styleguide */
@import "global";

@import "elements/colours";
@import "elements/type";

//
@import "templates/card";

// -----------------------------------------------------------------------------
// move to patterns
// -----------------------------------------------------------------------------
.label {
  background-color: $gray-10;
  border-radius: $global-radius;
  display: inline-block;
  line-height: 1;
  padding: .1rem .6rem;
}
