.timeline {
  background-color: $secondary-color;
  padding: $gutter;
}
.item {
  background-color: $white;
  box-shadow: 0 0 4px $gray-40;
  margin-bottom: $gutter;

  & > header {
    border-bottom: 1px solid $gray-10;
    padding: $gutter;
    @include display(flex);

    .user-picture {
      display: inline-block;
      height: 48px; width: 48px;
    }
    .item__header-meta {
      margin-left: $gutter;
      width: 100%;
      & > .fa { float: right; }
      h2 { margin: 0; }
      & > .engagement { float: right; }
    }
  }
  &.item_twitter   .user-picture { border-radius: $global-radius; }
  &.item_instagram .user-picture {
    border: 1px solid $gray-20;
    border-radius: $global-rounded;
  }
  & > .picture {
    border-bottom: 1px solid $gray-20;
    display: block;
    text-align: center;
    @include clearfix;
    img { float: left; width: 100%; }
  }
  & > .message {
    padding: $gutter;
  }
}

.engagement {
  .fa { margin-right: $gutter-xs; }
  .qty:not(:last-of-type) { margin-right: $gutter-xl; }
}
