$primary-color: #343347 !default;
$secondary-color: #A8ACB8 !default;
$text-color: $primary-color !default;
$alert-color: #F20125 !default;
$success-color: #3DDC83 !default;
$warning-color: #F2DA48 !default;
$info-color: #C4E8EE !default;

$black: #0B0C0D !default;
$white: #FFFFFF !default;
$blue: #2196F3 !default;
$green: #4CAF50 !default;
$grey: #9E9E9E !default;
$orange: #FF9800 !default;
$pink: #E91E63 !default;
$purple: #9C27B0 !default;
$red: #F44336 !default;
$teal: #1de9b6 !default;
$yellow: #FFEB3B !default;

$gray-90: lighten($black, 10%) !default;
$gray-80: lighten($black, 20%) !default;
$gray-70: lighten($black, 30%) !default;
$gray-60: lighten($black, 40%) !default;
$gray-50: lighten($black, 50%) !default;
$gray-40: lighten($black, 60%) !default;
$gray-30: lighten($black, 70%) !default;
$gray-20: lighten($black, 80%) !default;
$gray-10: lighten($black, 90%) !default;
