{
  "title": "My website",
  "analytics": {
    "id": "UA-00000000-1",
    "cookieDomain": "none"
  },
  "domain": "",
  "logger": {
    "apiToken": "",
    "clientToken": "",
    "level": 2
  },
  "instagram": {
    "userId": "",
    "clientId": ""
  },
  "twitter": {
    "apiUrl": "",
    "userId": ""
  },
  "username": ""
}
