<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/besana.css?rev=<%= revision %>" media="all">
    <script>
    var _rollbarConfig = {
      accessToken: "<%= logger.clientToken %>",
      captureUncaught: true,
      payload: {
        environment: "<%= env %>",
        javascript: {
          source_map_enabled: true,
          code_version: "<%= revision %>"
        }
      }
    };
    </script>
    <script type="text/javascript" src="scripts/rollbar.min.js?v1.8.3"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    </script>
  </head>
  <body>
    <aside class="sidebar" itemscope itemtype="http://schema.org/Restaurant">
      <h1 class="brand">
        <picture class="brand__logo">
          <img src="images/logo.svg" alt="besana tapas" itemprop="logo" />
        </picture>
        <span class="brand__type" itemprop="name">besana tapas</span>
      </h1>
      <div class="sidebar__content">
        <p itemprop="description">Ubicado en pleno centro de Utrera, en la antigua judería, les invita a descubrir la fusión de la más alta cocina con el tapeo más tradicional.</p>
        <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">Puedes encontrarnos en el <span itemprop="streetAddress">Callejón del Niño Perdío 1</span>, en <span itemprop="addressLocality">Utrera</span> (<span itemprop="addressRegion">Sevilla</span>).</p>
        <p><a href="https://goo.gl/maps/cfZXP" lang="es" title="Besana Tapas en Google Maps" itemprop="map">¿Como llegar?</a></p>
        <p>También puedes llamarnos al teléfono <br /><a href="tel:+34955863804" itemprop="telephone">955 863 804</a></p>
        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
          <span itemprop="latitude" content="37.1810330" />
          <span itemprop="longitude" content="-5.7807800" />
        </div>
      </div>
    </aside>
    <div id="container">Loading scripts...</div>
    <script type="text/javascript" src="scripts/app.js"></script>
  </body>
</html>
